
*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
header{
    padding: 5px;
    display: flex;
    border: 1px solid black;
}
.content_img{
    width: 20%;
    box-sizing: border-box;
}
.image_logo{
    margin-left: 10px;
    width: 65px;
    height: auto;
}
.Encabezado{
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    margin: auto;
}
.name_image{
    margin: 10px;
    width: 40px;
}
.contenido_nav img{
    width: 200px;
}