
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", serif;
}
header{
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px black solid;
}
.nav_mobile{
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.nav_mobile img{
    width: 65px;
}

.logo_telecar img{
    width: 85px;
}
.botom_wpp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    color: white;
    background-color: #075e54;
    border-radius: 10px ;
    border: 2px transparent; 
}
.botom_wpp:hover{
    background-color: #128c7e;
}
.botom_wpp img{
    margin: 0px 7px;
    width: 30px;
    height: 30px;
}
.botom_wpp p{
    font-size: 0.8rem;
    padding-bottom: 3px;
}
/* Search nav mobile */
.nav_pc{
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
    flex-direction: column;
    background-color: #eeeeee;
    width: 100vw;
    height: 100vh;
}
.nav_pc ul{
    margin-left: 5px;
    top: 200px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.nav_pc ul li{
    display: block;
    border-bottom: 1px solid black;
    width: 300px;
    padding: 10px;
    font-weight: bold;
    text-align: start;
    
}
.box_closet{
    font-size: 15px;
    height: 35px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box_closet p{
    cursor: pointer;
    font-size: 17px;
    padding-left: 20px;
    margin-left: 5px;
}
.box_closet p img{
    margin-right: 2px;
    width: 15px;
    height: 15px;
    transition: transform 0.5s ease;
}
.box_closet p img:hover{
    transform: rotate(90deg);
}
.search_box{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.search_box label input{
    width: 300px ;
    height: 40px;
    border-radius: 50px;
    text-align: start;
    padding: 20px;
}
/* end nav search mobile */
.slider_box{
    width: 100%;
    background-color: azure;
    height: 200px;
    margin: 10px 0px;
}
.img_ico_nav{
    width: 18px;
    height: 18px;
    margin-right: 6px;
}
/* Slidermenu mobile */
.slider-container {
    margin: 0px auto;
    width: 80%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.slider {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}
.group {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    justify-content: center;
    gap: 5px;

}
.slide {
    width: 50px;
    flex: 0 0 auto;
    text-align: center;
    background: lightgray;
    border: 1px solid #ddd;
}
.slide img {
    width: 50px;
    height: 50px;
    display: block;
}

    /* Fooder */
    footer{
        margin-top: 10px;
    }
    .box_content_footer{
        background-color: #faf5f5;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .box_text{
        width: 200px;
        min-height: 100px;
        margin-left: 10px;
    }
    .box_text h2{
        font-size: 20px;
    }
    .box_text p{
        font-size: 12px;
    }
    .box_text img{
      width: 125px;
      margin: auto;
    }
    /* Search main styles */
    .serch-main{
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        width: 100vw;

    }
    .sercha-main label{
        width: 100%;
    }
    .search-box-main{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        width: 80vw;
        height: 35px;
        border-radius: 20px;
        text-align: center;
    }
    /* otones de nav mobile */
    .boonav{
        width: 200px;
        height: 50px;
        margin: 15px auto;
    }
@media (min-width: 836px){

}